includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/methods/common_methods.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/schema/schema.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/store_object_as_json/store_object_as_json.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/resource_handler/resource_handler.config"

methods {
    // Set the output and log output dirs here. 
    set_output_dir = {
        tz = TimeZone.getTimeZone('UTC')
        def date = new Date().format("yyyyMMdd'T'HHmmss'Z'", tz)


        params.output_dir_base = "${params.output_dir}/${manifest.name}-${manifest.version}/${params.sample_id.replace(' ', '_')}"
        params.log_output_dir = "${params.output_dir_base}/log-${manifest.name}-${manifest.version}-${date}"

        params.workflow_output_dir = "${params.output_dir_base}/SAMtools-${params.samtools_version}"
        params.date = "${date}"
    }

    set_pipeline_logs = {
        trace.enabled = true
        trace.file = "${params.log_output_dir}/nextflow-log/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.log_output_dir}/nextflow-log/timeline.html"
        
        report.enabled = true
        report.file = "${params.log_output_dir}/nextflow-log/report.html"
    }

    setup = {
        methods.set_output_dir()

        resource_handler.handle_resources("${projectDir}/config/resources.json")

        methods.set_pipeline_logs()
        methods.set_env()

        schema.load_custom_types("${projectDir}/external/pipeline-Nextflow-config/config/schema/custom_schema_types.config")
        schema.load_custom_types("${projectDir}/config/custom_schema_types.config")
        schema.validate()

        methods.configure_containerization()

        json_extractor.store_object_as_json(
            params,
            new File("${params.log_output_dir}/nextflow-log/params.json")
        )
    }
}
